*{padding:0px; margin:0px;  font-family: "Georgia", Serif;}
body {background: url("../images/greysidebar.gif") repeat-y #693; margin:0px;}
a {font-weight:bold; color: #333; text-decoration:none;}
a:visited {font-weight:bold; color: #666;}
a:hover {color:#633;}

#header{width:100%; height:125px; background: url("../images/headerbg.gif") repeat-x #633; float:left;}
#header h1 {font-weight:bold; float:left; position:relative; font-style:italic; font-size:72px; letter-spacing:-4pt; margin-top:34px; margin-left:40px;}
#header h1 a {color:#ffc;}
#header h1 a:hover {color:#ff9;} 
#header p {float:left;}

#navbar {height:50px;}
#navbar ul {list-style:none; position:relative; top:75px; left:20px; float:left;}
#navbar ul li{float:left;}
#navbar ul li a{display: block; padding: 0 20px; color:#ffc; font-weight:normal; line-height:45px; float:left; background:#633;}
#navbar ul li a.current{line-height:50px; background: #633;}
#navbar ul a:hover, #navbar ul a:active{line-height:50px; } 

#contentarea {float:left; margin-top:-25px; padding:0px 0px 0px 40px; background: url("../images/greytop.gif") no-repeat; width:960px;}

.entry {margin-top:20px; float:left; width:920px;}
.entry h2 {width:240px; text-align:right; color:#666; font-weight:normal; font-size:32px; line-height:32px; padding-top:20px; font-style:italic; float:left;}
.entry img {float:left; padding:20px; background: url("../images/imagebg.gif") repeat-y; margin: 0px 20px;}
.entry p {font-size: 16px; line-height:28px; color:#ff9;}

.contentbox {margin: 20px 0px 0px 0px;  background: #ff9; float:left; font-size:16px; color:#333; line-height:24px;}
.w40 {width:40px;} .w80 {width:80px;} .w120 {width:120px;} .w160 {width:160px;} .w200 {width:200px;} .w240 {width:240px;} .w280 {width:280px;} .w320 {width:320px;} .w360 {width:360px;} .w400 {width:400px;} .w440 {width:440px;} .w480 {width:480px;} .w520 {width:520px;} .w560 {width:560px;} .w600 {width:600px;} .w640 {width:640px;} .w680 {width:680px;} .w720 {width:720px;} .w760 {width:760px;} .w800 {width:800px;} .w840 {width:840px;} .w880 {width:880px;} .w920 {width:920px;}

.alternate {background: #664D4D;}
.contentbox p {padding:20px;}
.contentbox p.big {font-size:28px; line-height:42px;}
.contentbox p.small {font-size:12px; line-height:20px;}
.nobg {background:none;}
.alternate p {color:#ff9;}



.first{margin-top:45px;}